/* this is the modal container */
.mantine-1abbsss {
    background-color: #1a1b1e;
    width: 100vw;
}

/* this is stack in the modal */
.mantine-1xpij43 {
    background-color: #1a1b1e;
    height: auto;
}
